<div class="row">
  <div class="col-md-6">
    <h3>Add recipes below:</h3>
    <h4><%= @message %></h4>
    <form action="/recipes/add" method="post">
      <label for="recipe[name]">Recipe Name:</label>
      <input name="recipe[name]" type="text">
      <br>
      <label for="recipe[description]">Recipe Description:</label>
      <br>
      <textarea name="recipe[description]" type="text" placeholder="Pull box to desired size"></textarea>
      <br>
      <button type="submit" class="btn">Add Recipe</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Add ingredients below:</h3>
    <form action="/ingredients/add" method="post">
      <label for="ingredient_name">Ingredient Name:</label>
      <input name="ingredient_name" type="text">

      <button type="submit" class="btn">Add Ingredient</button>
    </form>
    <a href="/ingredients" id="ingredient-btn"><button class="btn">See Ingredient List</button></a>
  </div>
</div>

<% if @recipes.any?() %>
  <h3>Here are all the recipes you've made:</h3>

  <ul>
    <% @recipes.each() do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
  </ul>

<% end %>
