<h2>Ingredients</h2>

<% if @ingredients.any?() %>
  <h3>Here are all the ingredients you've made:</h3>

  <ul>
    <% @ingredients.each() do |ingredient| %>
    <li><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
  <% end %>
  </ul>

  <p>Click <a href="/ingredients/add">here</a> to make some more ingredients!</p>

<% else %>
  <p>You haven't made any ingredients yet!</p>
  <p>Click <a href="/ingredients/add">here</a> to make some ingredients!</p>
<% end %>
