body {
  background-color: grey;
}

.jumbotron {
  text-align: center;
}

.well#test {
  background-color: lightgrey;
  border-color: black;
}

a#title {
  text-decoration: none;
  color: black;
}

a#ingredient-btn {
  text-decoration: none;
  color: black;
}

.well {
  background-color: black;
  border-color: black;
}

hr {
  border-color: black;
}

a:link, a:visited {
  color: darkgrey;
}

#search {
  float: right;
}
